@model MorningBatch.BussinessEntity.EmployeeViewModal


<form asp-action="index"  asp-controller="Employee" method="post">

    <input type="text" asp-for="FirstName" />
       <input type="text" asp-for="LastName" />

       <input type="submit" value="save"/>

</form>